.todo-list--container {
    display: flex;
    justify-content: space-around;

    margin-top: 18px;

    .todo-list {
        .todo-list--add {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}